version: '3.9'

services:

  web-server:
    volumes:
      - ./.git/:/home/node/app/.git/
      - ./public/:/home/node/app/public/
      - ./src/:/home/node/app/src/
      - ./.eslintrc.json:/home/node/app/.eslintrc.json
      - ./.gitignore:/home/node/app/.gitignore
      - ./.prettierrc:/home/node/app/.prettierrc
      - ./index.html:/home/node/app/index.html
      - ./package-lock.json:/home/node/app/package-lock.json
      - ./package.json:/home/node/app/package.json
      - ./vite.config.js:/home/node/app/vite.config.js
