.navbar-brand {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	padding: 0.125rem 0;
}

.navbar-brand svg {
	width: 3rem;
	height: 3rem;
	margin-right: 1rem;
}

.nav-icon {
	width: 1.5rem;
	height: 1.5rem;
	display: block;
}

.nav-link {
	padding: 0 !important;
}

@media (max-width: 575px) {
	.nav-item {
		margin: 0.25rem;
		padding: 0.375rem;
	}

	.nav-link {
		display: flex;
	}

	.nav-icon {
		margin: 0;
	}

	.nav-text {
		padding-left: 0.5rem;
	}
}

@media (min-width: 576px) {
	.navbar-nav {
		margin-left: auto;
		margin-bottom: 0;
	}
}

@media (min-width: 576px) and (max-width: 991px) {
	.nav-item {
		margin: 0.25rem;
		padding: 0.5rem;
	}

	.nav-link:hover {
		display: flex;
		flex-wrap: nowrap;
	}

	.nav-icon {
		margin: 0;
	}

	.nav-text {
		display: none;
	}

	.nav-link:hover > .nav-text {
		display: flex;
		padding-left: 0.5rem;
	}
}

@media (min-width: 991px) {
	.nav-item {
		margin: 0.5rem 0.5rem 0 0.5rem;
		padding: 0.25rem;
	}

	.nav-icon {
		margin-right: auto;
		margin-left: auto;
	}

	.nav-text {
		padding-top: 0.25rem;
	}
}
