:root {
	--h-header: 5.25rem;					/* The height of the navigation header which should be calculated after the navigation header is changed. */
	--h-section-gap: 2rem;					/* The height of the gap between sections. */
	--w-timeline: 8px;						/* The width of the timeline. */
	--r-timeline-point: 10px;				/* The radius of the timeline point. */
	--timeline-sm-ml: calc(max(var(--w-timeline), var(--r-timeline-point) * (1 + 0.6) * 2));
	--rgb-purple: 102, 102, 204;
	--rgb-violet: 152, 152, 254;
	--rgb-yellow: 255, 255, 159;
	--rgb-dark: 33, 37, 41;
	--rgb-light: 248, 249, 250;
	--rgb-theme: var(--rgb-purple);
	--rgb-theme-lighter: var(--rgb-violet);
}

main {
	overflow-x: hidden;
}

.navbar-brand {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	padding: 0.125rem 0;
}

.navbar-brand svg {
	width: 3rem;
	height: 3rem;
	margin-right: 1rem;
}

.nav-icon {
	width: 1.5rem;
	height: 1.5rem;
	display: block;
}

.nav-link {
	padding: 0 !important;
}

@media (max-width: 575px) {
	.nav-item {
		margin: 0.25rem;
		padding: 0.375rem;
	}

	.nav-link {
		display: flex;
	}

	.nav-icon {
		margin: 0;
	}

	.nav-text {
		padding-left: 0.5rem;
	}
}

@media (min-width: 576px) {
	.navbar-nav {
		margin-left: auto;
		margin-bottom: 0;
	}
}

@media (min-width: 576px) and (max-width: 991px) {
	.nav-item {
		margin: 0.25rem;
		padding: 0.5rem;
	}

	.nav-link:hover {
		display: flex;
		flex-wrap: nowrap;
	}

	.nav-icon {
		margin: 0;
	}

	.nav-text {
		display: none;
	}

	.nav-link:hover > .nav-text {
		display: flex;
		padding-left: 0.5rem;
	}
}

@media (min-width: 991px) {
	.nav-item {
		margin: 0.5rem 0.5rem 0 0.5rem;
		padding: 0.25rem;
	}

	.nav-icon {
		margin-right: auto;
		margin-left: auto;
	}

	.nav-text {
		padding-top: 0.25rem;
	}
}

section {
	padding-top: var(--h-header);
}

section:not(:first-child) {
	margin-top: calc(var(--h-header) * -1 + var(--h-section-gap));
}

.title {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.title h1, .title .h1,
.title h2, .title .h2,
.title h3, .title .h3,
.title h4, .title .h4,
.title h5, .title .h5,
.title h6, .title .h6 {
	margin-bottom: 0;
	font-weight: bolder;
	white-space: nowrap;
}

.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
	text-transform: uppercase;
}

.title .bar {
	--h-title-bar: 0px;
	width: 100%;
	height: var(--h-title-bar) !important;
	background-color: rgba(var(--rgb-theme), 1);
	margin: auto 1rem;
}

.title .bar:first-child {
	margin-left: 0;
}

.title .bar:last-child {
	margin-right: 0;
}

.title .bar-h-1 {
	--h-title-bar: 1px;
}

.title .bar-h-2 {
	--h-title-bar: 2px;
}

.title .bar-h-3 {
	--h-title-bar: 3px;
}

.title .bar-h-4 {
	--h-title-bar: 4px;
}

.title .bar-h-5 {
	--h-title-bar: 5px;
}

article {
	text-indent: 2em;
}

article p:last-child {
	margin-bottom: 0;
}

a.button {
	position: relative;
	display: inline-block;
	margin: 0.25rem 0.5rem 0.25rem 0;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(var(--rgb-light), var(--bs-text-opacity));
	background-color: rgba(var(--rgb-theme), var(--bs-bg-opacity));
	letter-spacing: 0.125rem;
	transition: 0.5s;
}

a.button:hover {
	color: rgba(var(--rgb-light), 1);
}

a.button span {
	display: block;
	position: absolute;
	background: rgba(var(--rgb-theme-lighter), 1);
}

a.button span:nth-child(1) {
	left: 0;
	bottom: 0;
	width: 2px;
	height: 100%;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.5s;
}

a.button:hover span:nth-child(1) {
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.5s;
}

a.button span:nth-child(2) {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
}

a.button:hover span:nth-child(2) {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s;
}

a.button span:nth-child(3) {
	right: 0;
	bottom: 0;
	width: 2px;
	height: 100%;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}

a.button:hover span:nth-child(3) {
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}

a.button span:nth-child(4) {
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}

a.button:hover span:nth-child(4) {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}

svg {
	fill: currentColor;
}

svg.rotate-180 {
	transform: rotate(-180deg);
}

ul.list-unstyled li i {
	padding-right: 0.5rem;
}

.mw-75 {
	max-width: 75%;
}

.quote-block {
	width: 100%;
	max-width: 30rem;
	margin: 1rem auto 0 auto;
	padding: 0.75rem 0.75rem;
	background-color: rgba(var(--rgb-light), .125);
	border-left: 0.5rem solid rgba(var(--rgb-theme), 1);
}

.quote-block p {
	white-space: nowrap;
	margin-bottom: 0;
}

.quote-block svg {
	width: 1.5rem;
	height: 1.5rem;
}

.text-light ol li.b,
.text-light ol li b,
.text-light ul li.b,
.text-light ul li b {
	color:rgba(var(--rgb-yellow), var(--bs-text-opacity));
}

.timeline {
	position: relative;
	width: 100%;
	padding: 1rem 0 1rem calc(var(--timeline-sm-ml) + 1rem);
	box-sizing: border-box;
}

.timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: calc((var(--timeline-sm-ml) - var(--w-timeline)) / 2);
	right: auto;
	width: var(--w-timeline);
	height: 100%;
	background-color: rgba(var(--rgb-light), 1);
}

.timeline .timeline-block {
	display: flex;
	flex-direction: column;
	margin: 3rem 0;
}

.timeline .timeline-block .timeline-anchor {
	display: flex;
	flex-direction: column;
}

.timeline .timeline-block .timeline-anchor .timeline-tag {
	display: inline-flex;
	flex-direction: row;
	position: relative;
	align-items: stretch;
	margin: 0 0 0.5rem 0;
	gap: 0.5rem;
}

.timeline .timeline-block .timeline-anchor .timeline-tag::before {
	position: absolute;
	top: calc(50% - var(--r-timeline-point));
	left: calc(-1rem - var(--r-timeline-point) - var(--timeline-sm-ml) * 0.5);
	right: auto;
	width: calc(var(--r-timeline-point) * 2);
	height: calc(var(--r-timeline-point) * 2);
	border-radius: 50%;
	box-shadow: 0 0 0 calc(var(--r-timeline-point) * 0.6) rgba(var(--rgb-yellow), 0.25);
	background-color: rgba(var(--rgb-yellow), 1);
	content: '';
}

.timeline .timeline-block .timeline-anchor .timeline-tag .h1,
.timeline .timeline-block .timeline-anchor .timeline-tag .h2,
.timeline .timeline-block .timeline-anchor .timeline-tag .h3,
.timeline .timeline-block .timeline-anchor .timeline-tag .h4,
.timeline .timeline-block .timeline-anchor .timeline-tag .h5,
.timeline .timeline-block .timeline-anchor .timeline-tag .h6 {
	display: flex;
	align-items: center;
	margin: 0;
	border-radius: 3rem;
	background-color: rgba(var(--rgb-theme), var(--bs-text-opacity));
	color: rgba(var(--rgb-light), var(--bs-text-opacity));
	white-space: nowrap;
}

.timeline .timeline-block .timeline-anchor .timeline-tag .h1 {
	padding: 0.25rem 1.5rem;
}

.timeline .timeline-block .timeline-anchor .timeline-tag .h2 {
	padding: 0.25rem 1.2rem;
}

.timeline .timeline-block .timeline-anchor .timeline-tag .h3 {
	padding: 0.25rem 1rem;
}

.timeline .timeline-block .timeline-anchor .timeline-tag .h4 {
	padding: 0.25rem 0.9rem;
}

.timeline .timeline-block .timeline-anchor .timeline-tag .h5 {
	padding: 0.25rem 0.8rem;
}

.timeline .timeline-block .timeline-anchor .timeline-tag .h6 {
	padding: 0.25rem 0.6rem;
}

.timeline .timeline-block .timeline-anchor .timeline-title {
	color: rgba(var(--rgb-yellow), var(--bs-text-opacity));
	text-align: left;
}

.timeline .timeline-block .timeline-content {
	text-align: left;
}

.timeline .timeline-block .timeline-content ol,
.timeline .timeline-block .timeline-content ul {
	text-align: left;
	padding: 0 0 0 1rem;
}

.timeline .timeline-block .timeline-content h1,
.timeline .timeline-block .timeline-content h2,
.timeline .timeline-block .timeline-content h3,
.timeline .timeline-block .timeline-content h4,
.timeline .timeline-block .timeline-content h5,
.timeline .timeline-block .timeline-content h6 {
	color: rgba(var(--rgb-yellow), var(--bs-text-opacity));
}

@media (min-width: 992px) {
	.timeline {
		padding: 1rem 0;
	}

	.timeline::before {
		left: calc(50% - var(--w-timeline) / 2);
		right: auto;
	}

	.timeline .timeline-block:nth-child(odd) .timeline-anchor {
		flex-direction: row-reverse;
	}

	.timeline .timeline-block:nth-child(even) .timeline-anchor {
		flex-direction: row;
	}

	.timeline .timeline-block .timeline-anchor .timeline-tag {
		width: 50%;
	}

	.timeline .timeline-block:nth-child(odd) .timeline-anchor .timeline-tag {
		padding: 0 0 0 calc(1rem + max(var(--w-timeline) / 2, var(--r-timeline-point) * 1.6));
		flex-direction: row;
	}

	.timeline .timeline-block:nth-child(even) .timeline-anchor .timeline-tag {
		padding: 0 calc(1rem + max(var(--w-timeline) / 2, var(--r-timeline-point) * 1.6)) 0 0;
		flex-direction: row-reverse;
	}

	.timeline .timeline-block:nth-child(odd) .timeline-anchor .timeline-tag::before {
		left: calc(var(--r-timeline-point) * -1);
		right: auto;
	}

	.timeline .timeline-block:nth-child(even) .timeline-anchor .timeline-tag::before {
		left: auto;
		right: calc(var(--r-timeline-point) * -1);
	}

	.timeline .timeline-block .timeline-anchor .timeline-title {
		width: 50%;
	}

	.timeline .timeline-block:nth-child(odd) .timeline-anchor .timeline-title {
		padding: 0 calc(1rem + max(var(--w-timeline) / 2, var(--r-timeline-point) * 1.6)) 0 0;
		text-align: right;
	}

	.timeline .timeline-block:nth-child(even) .timeline-anchor .timeline-title {
		padding: 0 0 0 calc(1rem + max(var(--w-timeline) / 2, var(--r-timeline-point) * 1.6));
		text-align: left;
	}

	.timeline .timeline-block .timeline-content {
		width: 50%;
	}

	.timeline .timeline-block:nth-child(odd) .timeline-content {
		margin: 0.5rem 50% 0 0;
		padding: 0 calc(1rem + max(var(--w-timeline) / 2, var(--r-timeline-point) * 1.6)) 0 0;
		text-align: right;
	}

	.timeline .timeline-block:nth-child(even) .timeline-content {
		margin: 0.5rem 0 0 50%;
		padding: 0 0 0 calc(1rem + max(var(--w-timeline) / 2, var(--r-timeline-point) * 1.6));
		text-align: left;
	}
}

#home .cover {
	width: 100%;
	height: 100%;
	background-image: url('../img/home.jpg');
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#home .mask {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#about img.me {
	display: flex;
	width: 100%;
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
}

#skills h5,
#skills .h5 {
	font-size: 1.1rem;
}

#skills ul {
	margin-bottom: 0.8rem;
}

#skills .skill-bar {
	--rgb-skill-bar-background: var(--rgb-light);
	width: 100%;
	margin-bottom: 0.8rem;
	background-color: rgba(var(--rgb-skill-bar-background), var(--bs-bg-opacity));
}

#skills .bg-dark .skill-bar {
	--rgb-skill-bar-background: var(--rgb-dark);
}

#skills .bg-light .skill-bar {
	--rgb-skill-bar-background: var(--rgb-light);
}

#skills .skill-bar .skill-bar-progress {
	--bar-value: 0;
	--rgb-skill-bar-forground: var(--rgb-theme);
	--rgb-skill-bar-text: var(--rgb-dark);
	width: var(--bar-value);
	display: flex;
	padding: 0.15rem 1rem;
	background-color: rgba(var(--rgb-skill-bar-forground), var(--bs-bg-opacity));
	color: rgba(var(--rgb-skill-bar-text), var(--bs-text-opacity));
}

#skills .text-dark .skill-bar .skill-bar-progress {
	--rgb-skill-bar-text: var(--rgb-dark);
}

#skills .text-light .skill-bar .skill-bar-progress {
	--rgb-skill-bar-text: var(--rgb-light);
}

#skills .skill-bar .skill-bar-progress .skill-bar-key {
	margin-right: auto;
	font-size: 1.05rem;
	font-weight: bolder;
	white-space: nowrap;
}

#skills .skill-bar .skill-bar-progress .skill-bar-value {
	margin-left: 1.5rem;
	font-size: 1.05rem;
	white-space: nowrap;
}

#skills .skill-bar .skill-bar-progress.skill-bar-0 {
	--bar-value: 0%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-5 {
	--bar-value: 5%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-10 {
	--bar-value: 10%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-15 {
	--bar-value: 15%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-20 {
	--bar-value: 20%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-25 {
	--bar-value: 25%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-30 {
	--bar-value: 30%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-35 {
	--bar-value: 35%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-40 {
	--bar-value: 40%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-45 {
	--bar-value: 45%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-50 {
	--bar-value: 50%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-55 {
	--bar-value: 55%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-60 {
	--bar-value: 60%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-65 {
	--bar-value: 65%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-70 {
	--bar-value: 70%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-75 {
	--bar-value: 75%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-80 {
	--bar-value: 80%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-85 {
	--bar-value: 85%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-90 {
	--bar-value: 90%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-95 {
	--bar-value: 95%;
}

#skills .skill-bar .skill-bar-progress.skill-bar-100 {
	--bar-value: 100%;
}

#portfolio .card {
	transition: border 0.5s ease-in-out;
	background-color: rgba(var(--rgb-dark), 0.25);
	color:rgba(var(--rgb-light), var(--bs-text-opacity));
}

#portfolio .card:hover {
	border-color: rgba(var(--rgb-theme), 0.75);
}

#portfolio .card img {
	aspect-ratio: 16 / 9;
	object-fit: cover;
}

#portfolio .card .card-body .card-title {
	margin-bottom: 0;
	padding-bottom: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#portfolio .card .card-body p.card-text {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

#portfolio .card .card-body a.btn {
	background-color: rgba(var(--rgb-theme), 1);
	color: rgba(var(--rgb-light), var(--bs-text-opacity));
}

#contact .contact-card {
	display: flex;
	align-items: center;
	background-color: rgba(var(--rgb-dark), 0.5);
	padding: 1.5rem;
}

#contact .contact-card .icon {
	display: flex;
	width: 3.5rem;
	height: 3.5rem;
	margin:  0 1.5rem 0 0;
	border-radius: 50%;
	background-color: rgba(var(--rgb-theme), 1);
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
}

#contact .contact-card .content {
	width: calc(100% - 3.5rem - 1.5rem);
}

#contact .contact-card .content h1 {
	margin: 0 0 0.5rem;
	font-size: 1.5rem;
}

#contact .contact-card .content p {
	margin: 0;
	font-size: 1rem;
}

#contact label {
	color:rgba(var(--rgb-dark), 0.5);
}

#contact textarea {
	min-height: 200px;
}

#contact button {
	background-color: rgba(var(--rgb-theme), 1);
	color: rgba(var(--rgb-light), 1);
}
