.title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
  margin-bottom: 0;
  font-weight: bolder;
  white-space: nowrap;
}

.title h1.uppercase,
.title h2.uppercase,
.title h3.uppercase,
.title h4.uppercase,
.title h5.uppercase,
.title h6.uppercase {
  text-transform: uppercase;
}

.title .bar {
  --h-title-bar: 0px;
  width: 100%;
  height: var(--h-title-bar) !important;
  background-color: rgba(var(--rgb-theme), 1);
  margin: auto 1rem;
}

.title .bar:first-child {
  margin-left: 0;
}

.title .bar:last-child {
  margin-right: 0;
}

.title .bar-h-1 {
  --h-title-bar: 1px;
}

.title .bar-h-2 {
  --h-title-bar: 2px;
}

.title .bar-h-3 {
  --h-title-bar: 3px;
}

.title .bar-h-4 {
  --h-title-bar: 4px;
}

.title .bar-h-5 {
  --h-title-bar: 5px;
}