.title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
  margin: 0 auto;
  font-weight: bolder;
  white-space: nowrap;
}
