.bar-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.bar-title h1,
.bar-title h2,
.bar-title h3,
.bar-title h4,
.bar-title h5,
.bar-title h6 {
  margin: 0;
  font-weight: bolder;
  white-space: nowrap;
}

.bar-title .bar {
  --h-title-bar: 0px;
  width: 100%;
  height: var(--h-title-bar) !important;
  background-color: rgba(var(--rgb-theme), 1);
  margin: auto 1rem;
}

.bar-title .bar:first-child {
  margin-left: 0;
}

.bar-title .bar:last-child {
  margin-right: 0;
}

.bar-title .bar-h-1 {
  --h-title-bar: 1px;
}

.bar-title .bar-h-2 {
  --h-title-bar: 2px;
}

.bar-title .bar-h-3 {
  --h-title-bar: 3px;
}

.bar-title .bar-h-4 {
  --h-title-bar: 4px;
}

.bar-title .bar-h-5 {
  --h-title-bar: 5px;
}