.meWrapper {
  position: relative;
  width: 100%;
  max-width: 30rem;
  aspect-ratio: 1 / 1;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

img.me {
  --crop-t: 0px;
  --crop-r: 0px;
  --crop-b: 0px;
  --crop-l: 0px;
  position: absolute;
  top: calc(-1 * var(--crop-t));
  left: calc(-1 * var(--crop-l));
  width: calc(100% + var(--crop-l) + var(--crop-r));
  height: calc(100% + var(--crop-t) + var(--crop-b));
  object-fit: cover;
}

ul.info,
ul.info ul {
  padding-left: 1.5rem;
  list-style: none;
}

ul.info li {
  position: relative;
}

ul.info li::before {
  position: absolute;
  top: 0;
  left: -1.5rem;
  content: '';
  font-family: 'bootstrap-icons';
}

ul.info > li::before {
  content: '\F234';
}

ul.info ul > li::before {
  content: '\F5B0';
}

ul.info li a {
  color: currentColor;
}

ul.info li a:hover {
  color: currentColor;
}

article.summary {
  text-indent: 2em;
}

article.summary p:last-child {
  margin-bottom: 0;
}
